html
	head
		title=title
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
	body
		div.container
		div.jumbotron
			form(action="/upload", method="post", enctype='multipart/form-data') 
				h3 Upload a file
				input(type='file', name='filename')
				button(type='submit') Upload